<%- include ("partials/header") -%> 


    <div class="box" id="heading">
        <h1><%= title %> !</h1>
    </div>

    <div class="box">

        <% newItems.forEach( e => { %>

            <form action="/delete" method="post">

                <div class="item">
                    <input type="checkbox" name="checkbox" onChange="this.form.submit()" value="<%= e._id%>">
                    <p><%= e.name %></p>
                    <input type="hidden" name="listName" value="<%= title %>"></input>
                </div>

            </form>

        <% }) %> 

        <form action="/" method="post">
            <input type="text" name="newItems" placeholder="New Item" autocomplete="off">
            <button type="submit" name="button" value="<%= title %>">+</button>
        </form>

    </div>    

    <div style="text-align: center;  color: rgba(0, 0, 0, 0.5);">Please check the about page.</div>

    <%- include ("partials/footer") -%> 
